{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Profiles</h1>
<hr>
<br>
{% if profiles %}
{%for profile in profiles%}
<div class="card mb-3 text-bg-dark" style="max-width: 540px; margin-left: 25%;">
    <div class="row g-0">
        <div class="col-md-4">
            {% if profile.profile_image %}
            <a href="{% url 'profile' profile.user.id %}"><img src="{{ profile.profile_image.url }}"
                    class="img-fluid rounded-start" alt="Profile Image" style="height: 180px; width: 200px;"></a>
            {% else %}
            <a href="{% url 'profile' profile.user.id %}"><img src="{% static 'images/default.jpg' %}"
                    class="img-fluid rounded-start" alt="Profile Image"></a>
            {% endif %}

        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ profile.user.username }}</h5>
                <a href="{% url 'profile' profile.user.id %}" class="card-text">@{{ profile.user.username }}</a>
                <br>
                <p class="card-text"><small class="text-body-light">Last Update: {{profile.date_modified}}</small>
                </p>
            </div>
        </div>
    </div>
</div>
<br /> <br />
{% endfor %}
{% endif %}
{% endblock %}